In [1]:
from IPython.core.display import display,HTML

display(HTML("<style>.container { width: 90% !important;}</style>"))

/var/folders/s2/bjtyvybn0kv3rwjkn5xht9_m0000gn/T/ipykernel_7623/2814205877.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display,HTML

In [2]:
import pandas as pd
import govt_func as gf
import datetime
from imp import reload

import numpy as np
from dateutil.relativedelta import *

# Import Data

In [3]:
other_uri = "data/other_income.xlsx"
df_other = pd.read_excel(other_uri)
profit_uri = "data/profit.xlsx"
df_profit = pd.read_excel(profit_uri)
df_other = df_other.drop("证券名称", axis=1)
df_profit = df_profit.drop("证券名称", axis=1)
df_other = df_other.rename(columns={"CITICS_INDUSTRY": "INDUSTRY"})
df_profit = df_profit.rename(columns={"CITICS_INDUSTRY": "INDUSTRY"})
df_other = df_other.dropna(axis=0, subset="INDUSTRY")
df_profit = df_profit.dropna(axis=0, subset="INDUSTRY")
df_other = df_other.drop(
    df_other.iloc[:, 2:].filter(like="Y", axis=1).columns, axis=1
)  # exclude annual statement
df_profit = df_profit.drop(
    df_profit.iloc[:, 2:].filter(like="Y", axis=1).columns, axis=1
)  # exclude annual statement
df_other

,SECU_CODE,INDUSTRY,2018Q1,2018Q2,2018Q3,2019Q1,2019Q2,2019Q3,2020Q1,2020Q2,2020Q3,2021Q1,2021Q2,2021Q3,2022Q1,2022Q2,2022Q3
0,000001.SZ,银行,14000000.00,1.500000e+07,1.020000e+08,1.500000e+07,1.650000e+08,1.850000e+08,4.400000e+07,1.150000e+08,1.310000e+08,6.100000e+07,1.300000e+08,2.010000e+08,4.800000e+07,1.310000e+08,1.400000e+08
1,000002.SZ,房地产,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000004.SZ,计算机,NaN,NaN,NaN,4.240000e+06,4.382546e+06,4.382546e+06,6.486915e+05,1.001951e+06,1.687612e+06,1.207916e+06,1.794585e+06,2.093062e+06,4.601955e+05,7.276682e+05,8.499231e+05
3,000005.SZ,电力及公用事业,NaN,NaN,NaN,NaN,2.104551e+05,2.721051e+05,2.413405e+05,4.279095e+06,4.788177e+06,9.332890e+03,5.439846e+05,1.029740e+06,5.816464e+04,1.773372e+06,2.271582e+06
4,000006.SZ,房地产,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.165000e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5005,688799.SH,医药,NaN,NaN,NaN,NaN,NaN,NaN,9.597428e+05,4.273163e+06,1.014002e+07,1.168257e+07,1.391226e+07,1.640907e+07,1.249457e+06,5.596206e+06,9.110304e+06
5006,688800.SH,电子,1061883.85,2.125007e+06,4.428008e+06,8.561891e+05,2.478215e+06,NaN,2.238674e+06,6.023035e+06,8.355775e+06,1.370950e+06,2.910612e+06,4.626795e+06,9.833100e+06,1.325886e+07,1.502830e+07
5007,688819.SH,电力设备及新能源,NaN,1.241994e+08,NaN,NaN,1.673284e+08,1.783950e+08,5.599795e+07,2.238161e+08,2.511462e+08,1.101094e+08,2.387639e+08,3.099354e+08,1.027381e+08,2.649832e+08,3.804919e+08
5008,688981.SH,电子,NaN,NaN,NaN,6.899597e+08,NaN,1.527857e+09,4.143093e+08,7.011120e+08,1.655648e+09,5.608140e+08,1.085838e+09,1.632551e+09,2.856870e+08,9.532420e+08,1.593875e+09
5009,689009.SH,机械,NaN,NaN,NaN,NaN,2.237576e+07,3.426995e+07,2.315581e+06,3.593782e+06,9.792848e+06,5.124687e+06,8.968468e+06,1.417816e+07,2.421484e+06,6.538244e+06,8.382230e+06

# Get other income in Quarter

In [4]:
df = df_other.set_index(["SECU_CODE","INDUSTRY"])
df_other = gf.get_quarter(df)
df_other

,,2018Q1,2018Q2,2018Q3,2019Q1,2019Q2,2019Q3,2020Q1,2020Q2,2020Q3,2021Q1,2021Q2,2021Q3,2022Q1,2022Q2,2022Q3
SECU_CODE,INDUSTRY,,,,,,,,,,,,,,,
000001.SZ,银行,14000000.00,1000000.00,87000000.00,1.500000e+07,1.500000e+08,20000000.00,4.400000e+07,7.100000e+07,1.600000e+07,6.100000e+07,6.900000e+07,7.100000e+07,4.800000e+07,8.300000e+07,9.000000e+06
000002.SZ,房地产,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000004.SZ,计算机,NaN,NaN,NaN,4.240000e+06,1.425459e+05,NaN,6.486915e+05,3.532593e+05,6.856610e+05,1.207916e+06,5.866692e+05,2.984765e+05,4.601955e+05,2.674727e+05,1.222550e+05
000005.SZ,电力及公用事业,NaN,NaN,NaN,NaN,1.052276e+05,61649.99,2.413405e+05,4.037755e+06,5.090813e+05,9.332890e+03,5.346518e+05,4.857549e+05,5.816464e+04,1.715207e+06,4.982102e+05
000006.SZ,房地产,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688799.SH,医药,NaN,NaN,NaN,NaN,NaN,NaN,9.597428e+05,3.313420e+06,5.866861e+06,1.168257e+07,2.229696e+06,2.496801e+06,1.249457e+06,4.346749e+06,3.514098e+06
688800.SH,电子,1061883.85,1063123.07,2303000.72,8.561891e+05,1.622026e+06,NaN,2.238674e+06,3.784360e+06,2.332740e+06,1.370950e+06,1.539662e+06,1.716182e+06,9.833100e+06,3.425762e+06,1.769442e+06
688819.SH,电力设备及新能源,NaN,62099702.16,NaN,NaN,8.366420e+07,11066640.37,5.599795e+07,1.678181e+08,2.733011e+07,1.101094e+08,1.286545e+08,7.117148e+07,1.027381e+08,1.622451e+08,1.155087e+08
688981.SH,电子,NaN,NaN,NaN,6.899597e+08,-3.449799e+08,NaN,4.143093e+08,2.868027e+08,9.545360e+08,5.608140e+08,5.250240e+08,5.467130e+08,2.856870e+08,6.675550e+08,6.406330e+08
689009.SH,机械,NaN,NaN,NaN,NaN,1.118788e+07,11894187.46,2.315581e+06,1.278201e+06,6.199067e+06,5.124687e+06,3.843782e+06,5.209691e+06,2.421484e+06,4.116760e+06,1.843987e+06

# Get Sum of Other Income by Industry

In [5]:
df_ind_sum = df_other.groupby("INDUSTRY").sum()
df_ind_sum = df_ind_sum.stack().reset_index()
df_ind_sum = df_ind_sum.rename(columns={"level_1": "QUARTER", 0: "SUM_OTHER"})
df_ind_sum = df_ind_sum.set_index(["INDUSTRY", "QUARTER"])
df_ind_sum

                     SUM_OTHER
INDUSTRY QUARTER
交通运输     2018Q1   3.357970e+09
         2018Q2   6.773421e+09
         2018Q3   4.299658e+09
         2019Q1   4.279057e+09
         2019Q2   7.909234e+09
...                        ...
食品饮料     2021Q2   1.263338e+09
         2021Q3   1.190140e+09
         2022Q1   1.478428e+09
         2022Q2   1.207019e+09
         2022Q3   1.104637e+09

[450 rows x 1 columns]

# $Support_i$ = $other_i$/sum($subsidy_s$)

In [6]:
df = df_other.stack()
df = df.reset_index()
df = df.rename(columns={"level_2": "QUARTER", 0: "OTHER_SUB"})
df

       SECU_CODE INDUSTRY QUARTER     OTHER_SUB
0      000001.SZ       银行  2018Q1  1.400000e+07
1      000001.SZ       银行  2018Q2  1.000000e+06
2      000001.SZ       银行  2018Q3  8.700000e+07
3      000001.SZ       银行  2019Q1  1.500000e+07
4      000001.SZ       银行  2019Q2  1.500000e+08
...          ...      ...     ...           ...
63470  689009.SH       机械  2021Q2  3.843782e+06
63471  689009.SH       机械  2021Q3  5.209691e+06
63472  689009.SH       机械  2022Q1  2.421484e+06
63473  689009.SH       机械  2022Q2  4.116760e+06
63474  689009.SH       机械  2022Q3  1.843987e+06

[63475 rows x 4 columns]

In [7]:
df = df.set_index(["INDUSTRY", "QUARTER"])  # synchronize index
df

                  SECU_CODE     OTHER_SUB
INDUSTRY QUARTER
银行       2018Q1   000001.SZ  1.400000e+07
         2018Q2   000001.SZ  1.000000e+06
         2018Q3   000001.SZ  8.700000e+07
         2019Q1   000001.SZ  1.500000e+07
         2019Q2   000001.SZ  1.500000e+08
...                     ...           ...
机械       2021Q2   689009.SH  3.843782e+06
         2021Q3   689009.SH  5.209691e+06
         2022Q1   689009.SH  2.421484e+06
         2022Q2   689009.SH  4.116760e+06
         2022Q3   689009.SH  1.843987e+06

[63475 rows x 2 columns]

In [8]:
df_other = pd.merge(
    left=df, right=df_ind_sum, left_index=True, right_index=True
)  # merge the Dataframe to make other and industry sum in the same Dataframe
df_other = df_other.reset_index()
df_other = df_other.sort_values(["QUARTER", "SECU_CODE"])
df_other["F_SUPPORT"] = df_other["OTHER_SUB"] / df_other["SUM_OTHER"] # get factor value
df_other = df_other.set_index(["QUARTER", "SECU_CODE", "INDUSTRY"])
df_other

                               OTHER_SUB     SUM_OTHER  F_SUPPORT
QUARTER SECU_CODE INDUSTRY
2018Q1  000001.SZ 银行        1.400000e+07  4.272282e+08   0.032769
        000008.SZ 机械        9.311693e+06  1.487620e+09   0.006259
        000009.SZ 综合        1.372011e+07  7.445311e+07   0.184279
        000012.SZ 建材        7.579659e+06  7.015657e+08   0.010804
        000016.SZ 家电        7.942767e+07  9.537481e+08   0.083280
...                                  ...           ...        ...
2022Q3  688799.SH 医药        3.514098e+06  3.821077e+09   0.000920
        688800.SH 电子        1.769442e+06  8.931371e+09   0.000198
        688819.SH 电力设备及新能源  1.155087e+08  5.861489e+09   0.019706
        688981.SH 电子        6.406330e+08  8.931371e+09   0.071728
        689009.SH 机械        1.843987e+06  5.414589e+09   0.000341

[63475 rows x 3 columns]

# Get $profit$ in quarter

In [9]:
df = df_profit.set_index(["SECU_CODE", "INDUSTRY"])
df_profit = gf.get_quarter(df)
df_profit

,,2011Q1,2011Q2,2011Q3,2012Q1,2012Q2,2012Q3,2013Q1,2013Q2,2013Q3,2014Q1,...,2019Q3,2020Q1,2020Q2,2020Q3,2021Q1,2021Q2,2021Q3,2022Q1,2022Q2,2022Q3
SECU_CODE,INDUSTRY,,,,,,,,,,,,,,,,,,,,,
000001.SZ,银行,3.069099e+09,2.996747e+09,3.858597e+09,4.477351e+09,4.401298e+09,4.533465e+09,4.718000e+09,5.188000e+09,5.479000e+09,6.697000e+09,...,1.067300e+10,1.095800e+10,6.629000e+09,1.123900e+10,1.287400e+10,9.467000e+09,1.444600e+10,1.618400e+10,1.159900e+10,1.832900e+10
000002.SZ,房地产,1.674455e+09,2.777354e+09,1.198387e+09,2.058143e+09,3.990529e+09,2.117311e+09,2.394886e+09,4.738527e+09,2.867622e+09,2.039198e+09,...,1.409881e+10,4.795679e+09,2.165477e+10,1.538755e+10,4.108071e+09,1.797280e+10,1.102043e+10,4.081142e+09,2.027806e+10,1.337192e+10
000004.SZ,计算机,2.080828e+06,2.616066e+06,2.132602e+06,1.558349e+06,9.595499e+05,3.018656e+06,3.720557e+06,2.269117e+06,4.276827e+06,-2.974611e+06,...,-8.795067e+06,4.403971e+06,-9.140229e+05,5.702308e+07,4.846545e+06,1.922285e+06,2.767515e+07,-1.309889e+07,-2.791890e+07,-2.532426e+07
000005.SZ,电力及公用事业,-6.291033e+06,3.341440e+07,-1.346671e+07,-1.222558e+07,-1.703261e+07,1.587058e+07,-9.235390e+06,-1.322147e+07,-6.543229e+06,-8.682228e+06,...,-1.663681e+07,-2.230184e+07,-1.106386e+07,5.769103e+06,8.595700e+06,1.919936e+08,2.697103e+06,8.476993e+05,2.653019e+06,3.613460e+06
000006.SZ,房地产,7.129346e+07,1.175649e+08,1.714304e+08,1.187848e+08,2.667864e+08,9.885507e+07,8.335351e+07,2.713965e+08,1.207738e+08,4.036137e+07,...,3.318325e+08,1.829440e+08,1.227008e+08,3.177867e+08,3.655433e+08,1.401563e+08,2.297127e+08,5.677890e+07,2.596736e+08,-3.585225e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688799.SH,医药,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.915974e+07,3.472115e+07,3.863758e+07,3.881189e+07,4.102057e+07,4.055120e+07,3.984571e+07,5.573177e+07,4.200342e+07
688800.SH,电子,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.999367e+06,3.943728e+07,2.068451e+07,1.874455e+07,2.348991e+07,3.763935e+07,6.377653e+07,7.939895e+07,8.094975e+07
688819.SH,电力设备及新能源,NaN,1.465038e+08,2.644794e+08,2.226396e+08,2.627831e+08,2.908038e+08,1.371183e+08,-1.443808e+07,1.287562e+08,6.622459e+07,...,5.615807e+08,4.031860e+08,5.723244e+08,8.695559e+08,5.226400e+08,3.186100e+08,4.663662e+08,4.854114e+08,3.768847e+08,8.147876e+08
688981.SH,电子,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.807330e+08,4.486887e+08,9.762003e+08,1.889462e+09,9.197230e+08,4.154506e+09,2.481230e+09,3.650392e+09,4.215726e+09,3.909379e+09
689009.SH,机械,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.022467e+08,-9.833901e+07,4.876992e+07,2.073747e+08,2.222233e+07,3.214818e+08,1.860397e+08,7.554774e+07,2.737175e+08,1.828479e+08

In [10]:
df = df_profit.stack()
df = df.reset_index()
df = df.rename(columns={"level_2": "QUARTER", 0: "PROFIT"})
df = df.set_index(["QUARTER", "SECU_CODE", "INDUSTRY"])  # synchronize index
df

                                  PROFIT
QUARTER SECU_CODE INDUSTRY
2011Q1  000001.SZ 银行        3.069099e+09
2011Q2  000001.SZ 银行        2.996747e+09
2011Q3  000001.SZ 银行        3.858597e+09
2012Q1  000001.SZ 银行        4.477351e+09
2012Q2  000001.SZ 银行        4.401298e+09
...                                  ...
2021Q2  689009.SH 机械        3.214818e+08
2021Q3  689009.SH 机械        1.860397e+08
2022Q1  689009.SH 机械        7.554774e+07
2022Q2  689009.SH 机械        2.737175e+08
2022Q3  689009.SH 机械        1.828479e+08

[128122 rows x 1 columns]

In [11]:
df_other = pd.merge(
    left=df_other, right=df, left_index=True, right_index=True
)  # merge the dataframe to make other and profit in the same dataframe
df_other

                               OTHER_SUB     SUM_OTHER  F_SUPPORT  \
QUARTER SECU_CODE INDUSTRY
2018Q1  000001.SZ 银行        1.400000e+07  4.272282e+08   0.032769
        000008.SZ 机械        9.311693e+06  1.487620e+09   0.006259
        000009.SZ 综合        1.372011e+07  7.445311e+07   0.184279
        000012.SZ 建材        7.579659e+06  7.015657e+08   0.010804
        000016.SZ 家电        7.942767e+07  9.537481e+08   0.083280
...                                  ...           ...        ...
2022Q3  688799.SH 医药        3.514098e+06  3.821077e+09   0.000920
        688800.SH 电子        1.769442e+06  8.931371e+09   0.000198
        688819.SH 电力设备及新能源  1.155087e+08  5.861489e+09   0.019706
        688981.SH 电子        6.406330e+08  8.931371e+09   0.071728
        689009.SH 机械        1.843987e+06  5.414589e+09   0.000341

                                  PROFIT
QUARTER SECU_CODE INDUSTRY
2018Q1  000001.SZ 银行        8.567000e+09
        000008.SZ 机械        1.769862e+07
        000009.SZ 综合        1.077181e+08
        000012.SZ 建材        1.875769e+08
        000016.SZ 家电        1.238493e+08
...                                  ...
2022Q3  688799.SH 医药        4.200342e+07
        688800.SH 电子        8.094975e+07
        688819.SH 电力设备及新能源  8.147876e+08
        688981.SH 电子        3.909379e+09
        689009.SH 机械        1.828479e+08

[63475 rows x 4 columns]

# dependence = subsidy/profit

In [12]:
df_other["DEPENDENCE"] = df_other["OTHER_SUB"] / df_other["PROFIT"]
# subsidy > profit : dependence = 1
# other: original value
df_other["F_DEPENDENCE"] = df_other.DEPENDENCE
df_other["F_DEPENDENCE"] = df_other.F_DEPENDENCE.mask(
    (df_other.OTHER_SUB > df_other.PROFIT), 1
)
df_other

                               OTHER_SUB     SUM_OTHER  F_SUPPORT  \
QUARTER SECU_CODE INDUSTRY
2018Q1  000001.SZ 银行        1.400000e+07  4.272282e+08   0.032769
        000008.SZ 机械        9.311693e+06  1.487620e+09   0.006259
        000009.SZ 综合        1.372011e+07  7.445311e+07   0.184279
        000012.SZ 建材        7.579659e+06  7.015657e+08   0.010804
        000016.SZ 家电        7.942767e+07  9.537481e+08   0.083280
...                                  ...           ...        ...
2022Q3  688799.SH 医药        3.514098e+06  3.821077e+09   0.000920
        688800.SH 电子        1.769442e+06  8.931371e+09   0.000198
        688819.SH 电力设备及新能源  1.155087e+08  5.861489e+09   0.019706
        688981.SH 电子        6.406330e+08  8.931371e+09   0.071728
        689009.SH 机械        1.843987e+06  5.414589e+09   0.000341

                                  PROFIT  DEPENDENCE  F_DEPENDENCE
QUARTER SECU_CODE INDUSTRY
2018Q1  000001.SZ 银行        8.567000e+09    0.001634      0.001634
        000008.SZ 机械        1.769862e+07    0.526125      0.526125
        000009.SZ 综合        1.077181e+08    0.127371      0.127371
        000012.SZ 建材        1.875769e+08    0.040408      0.040408
        000016.SZ 家电        1.238493e+08    0.641325      0.641325
...                                  ...         ...           ...
2022Q3  688799.SH 医药        4.200342e+07    0.083662      0.083662
        688800.SH 电子        8.094975e+07    0.021859      0.021859
        688819.SH 电力设备及新能源  8.147876e+08    0.141765      0.141765
        688981.SH 电子        3.909379e+09    0.163871      0.163871
        689009.SH 机械        1.828479e+08    0.010085      0.010085

[63475 rows x 6 columns]

In [13]:
# delete redundant columns
df_other = df_other.drop(
    ["OTHER_SUB", "SUM_OTHER", "PROFIT", "DEPENDENCE"], axis=1
)
df_other

                            F_SUPPORT  F_DEPENDENCE
QUARTER SECU_CODE INDUSTRY
2018Q1  000001.SZ 银行         0.032769      0.001634
        000008.SZ 机械         0.006259      0.526125
        000009.SZ 综合         0.184279      0.127371
        000012.SZ 建材         0.010804      0.040408
        000016.SZ 家电         0.083280      0.641325
...                               ...           ...
2022Q3  688799.SH 医药         0.000920      0.083662
        688800.SH 电子         0.000198      0.021859
        688819.SH 电力设备及新能源   0.019706      0.141765
        688981.SH 电子         0.071728      0.163871
        689009.SH 机械         0.000341      0.010085

[63475 rows x 2 columns]

# Rank F_SUPPORT

In [14]:
df_other["F_SUPPORT"] = df_other.groupby(by="QUARTER").rank(axis=0)["F_SUPPORT"]
df_other

                            F_SUPPORT  F_DEPENDENCE
QUARTER SECU_CODE INDUSTRY
2018Q1  000001.SZ 银行           2827.0      0.001634
        000008.SZ 机械           2333.0      0.526125
        000009.SZ 综合           2978.0      0.127371
        000012.SZ 建材           2541.0      0.040408
        000016.SZ 家电           2944.0      0.641325
...                               ...           ...
2022Q3  688799.SH 医药           2213.0      0.083662
        688800.SH 电子            815.0      0.021859
        688819.SH 电力设备及新能源     4519.0      0.141765
        688981.SH 电子           4755.0      0.163871
        689009.SH 机械           1215.0      0.010085

[63475 rows x 2 columns]

# Standardization

In [15]:
df = df_other
mean = df.groupby(by="QUARTER").mean()
std = df.groupby(by="QUARTER").std()

df = gf.get_standard(df, mean, std)
df

,SECU_CODE,INDUSTRY,F_SUPPORT,F_DEPENDENCE,F_SUPPORT_mean,F_DEPENDENCE_mean,F_SUPPORT_std,F_DEPENDENCE_std
QUARTER,,,,,,,,
2018Q1,000001.SZ,银行,1.523859,-0.678091,1504.0,0.239087,868.190449,0.350178
2018Q1,000008.SZ,机械,0.954860,0.819693,1504.0,0.239087,868.190449,0.350178
2018Q1,000009.SZ,综合,1.697784,-0.319027,1504.0,0.239087,868.190449,0.350178
2018Q1,000012.SZ,建材,1.194438,-0.567364,1504.0,0.239087,868.190449,0.350178
2018Q1,000016.SZ,家电,1.658622,1.148669,1504.0,0.239087,868.190449,0.350178
...,...,...,...,...,...,...,...,...
2022Q3,688799.SH,医药,-0.146204,-0.615050,2417.0,0.332394,1395.311256,0.404409
2022Q3,688800.SH,电子,-1.148131,-0.767875,2417.0,0.332394,1395.311256,0.404409
2022Q3,688819.SH,电力设备及新能源,1.506474,-0.471376,2417.0,0.332394,1395.311256,0.404409
2022Q3,688981.SH,电子,1.675612,-0.416715,2417.0,0.332394,1395.311256,0.404409
2022Q3,689009.SH,机械,-0.861457,-0.796988,2417.0,0.332394,1395.311256,0.404409

In [16]:
df_other = df.drop(["F_SUPPORT_mean", "F_DEPENDENCE_mean", "F_SUPPORT_std", "F_DEPENDENCE_std"],axis = 1)
df_other

         SECU_CODE  INDUSTRY  F_SUPPORT  F_DEPENDENCE
QUARTER
2018Q1   000001.SZ        银行   1.523859     -0.678091
2018Q1   000008.SZ        机械   0.954860      0.819693
2018Q1   000009.SZ        综合   1.697784     -0.319027
2018Q1   000012.SZ        建材   1.194438     -0.567364
2018Q1   000016.SZ        家电   1.658622      1.148669
...            ...       ...        ...           ...
2022Q3   688799.SH        医药  -0.146204     -0.615050
2022Q3   688800.SH        电子  -1.148131     -0.767875
2022Q3   688819.SH  电力设备及新能源   1.506474     -0.471376
2022Q3   688981.SH        电子   1.675612     -0.416715
2022Q3   689009.SH        机械  -0.861457     -0.796988

[63475 rows x 4 columns]

# Exclude Outlier

In [17]:
df_other[df_other.F_SUPPORT > 3] = np.nan
df_other[df_other.F_SUPPORT < -3] = np.nan
df_other[df_other.F_DEPENDENCE > 3] = np.nan
df_other[df_other.F_DEPENDENCE < -3] = np.nan
df_other

         SECU_CODE  INDUSTRY  F_SUPPORT  F_DEPENDENCE
QUARTER
2018Q1   000001.SZ        银行   1.523859     -0.678091
2018Q1   000008.SZ        机械   0.954860      0.819693
2018Q1   000009.SZ        综合   1.697784     -0.319027
2018Q1   000012.SZ        建材   1.194438     -0.567364
2018Q1   000016.SZ        家电   1.658622      1.148669
...            ...       ...        ...           ...
2022Q3   688799.SH        医药  -0.146204     -0.615050
2022Q3   688800.SH        电子  -1.148131     -0.767875
2022Q3   688819.SH  电力设备及新能源   1.506474     -0.471376
2022Q3   688981.SH        电子   1.675612     -0.416715
2022Q3   689009.SH        机械  -0.861457     -0.796988

[63475 rows x 4 columns]

# F_OTHER = F_SUPPORT - F_DEPENDENCE

In [18]:
df_other["F_OTHER"] = df_other["F_SUPPORT"] - df_other["F_DEPENDENCE"]
df_other

         SECU_CODE  INDUSTRY  F_SUPPORT  F_DEPENDENCE   F_OTHER
QUARTER
2018Q1   000001.SZ        银行   1.523859     -0.678091  2.201950
2018Q1   000008.SZ        机械   0.954860      0.819693  0.135167
2018Q1   000009.SZ        综合   1.697784     -0.319027  2.016811
2018Q1   000012.SZ        建材   1.194438     -0.567364  1.761802
2018Q1   000016.SZ        家电   1.658622      1.148669  0.509954
...            ...       ...        ...           ...       ...
2022Q3   688799.SH        医药  -0.146204     -0.615050  0.468846
2022Q3   688800.SH        电子  -1.148131     -0.767875 -0.380256
2022Q3   688819.SH  电力设备及新能源   1.506474     -0.471376  1.977850
2022Q3   688981.SH        电子   1.675612     -0.416715  2.092327
2022Q3   689009.SH        机械  -0.861457     -0.796988 -0.064468

[63475 rows x 5 columns]

In [19]:
df_other = df_other.reset_index().sort_values(by = ["QUARTER", "SECU_CODE"])
df_other = df_other.set_index("QUARTER")

df_other

         SECU_CODE  INDUSTRY  F_SUPPORT  F_DEPENDENCE   F_OTHER
QUARTER
2018Q1   000001.SZ        银行   1.523859     -0.678091  2.201950
2018Q1   000008.SZ        机械   0.954860      0.819693  0.135167
2018Q1   000009.SZ        综合   1.697784     -0.319027  2.016811
2018Q1   000012.SZ        建材   1.194438     -0.567364  1.761802
2018Q1   000016.SZ        家电   1.658622      1.148669  0.509954
...            ...       ...        ...           ...       ...
2022Q3   688799.SH        医药  -0.146204     -0.615050  0.468846
2022Q3   688800.SH        电子  -1.148131     -0.767875 -0.380256
2022Q3   688819.SH  电力设备及新能源   1.506474     -0.471376  1.977850
2022Q3   688981.SH        电子   1.675612     -0.416715  2.092327
2022Q3   689009.SH        机械  -0.861457     -0.796988 -0.064468

[63475 rows x 5 columns]

# Write File

In [20]:
df_other.to_csv("cleaned_data/cleaned_other.csv")